@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary 
  }
}

*{
  @apply font-roboto 
}

select {
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
}
.select {
}
div:focus-within {
  box-shadow: 0px 0px 0px 2px blue;
}

